.header-container.no-slider
  %header.wrapper.clearfix
    .ctaColumn
      %h1= link_to "Dinesafe Toronto App", app_landing_path
      %nav
        %ul
          %li= link_to "App Store", app_store_link, :target => "_blank"
          %li= link_to "About", about_path
          %li= link_to "Contact", contact_path
          %li= link_to "Press", press_path
