= render :partial => "shared/header"

#content
  - # See here for reference! http://www.apptamin.com/blog/press-kit-for-your-app/
  .left-bar
    %h2 Press
    %p
      %strong= link_to "Download Press Kit (zip)", "/press-kit.zip"
    %p Press Kit is zip file that contains high-res logos, screenshots, as well as press releases and a quick link to the app store.
    %p Feel free to use these resources however you like.
    %h3 Press Releases
    %p= link_to "'Dinesafe Toronto', a new app for viewing restaurant health inspections, 
now available on the Apple App Store - March 4, 2013 (PDF)", "/press-kit/Press Release - Dinesafe - March 4, 2013.pdf", :target => "_blank"
    %h3 Press Coverage
    %p
      = link_to "New DineSafe app helps diners watch where they eat", "http://www.thestar.com/news/gta/2013/03/06/new_dinesafe_app_helps_diners_watch_where_they_eat.html", :target => "_blank"
      %br
      %small
        %strong Toronto Star
        \- Online & Newspaper, GTA Section, Page 1 - March 6, 2013
    %p
      = link_to "New DineSafe app designed in TO helps diners watch where they eat", "http://metronews.ca/news/toronto/584542/new-dinesafe-app-desined-in-to-helps-diners-watch-where-they-eat/", :target => "_blank"
      %br
      %small
        %strong Metro News
        \- Online & Newspaper - March 6, 2013
    %p
      = link_to "New DineSafe iPhone App Caters to the Germaphobe in All of Us", "http://torontoist.com/2013/03/new-dinesafe-iphone-app-caters-to-the-germaphobe-in-all-of-us/", :target => "_blank"
      %br
      %small
        %strong Torontoist
        \- Online - March 4, 2013
  .right-bar
    %h3 Contact
    %ul
      %li
        Email:
        = link_to "matt@ruten.ca", "mailto:matt@ruten.ca?subject=Dinesafe%20App%20Press%20Inquiry", :target => "_blank"
      %li
        Twitter: 
        = link_to "@mattruten", "http://twitter.com/mattruten", :target => "_blank"
    %h3 
      = image_tag "/press-kit/logos/dinesafe-logo-57x57.png"
      Logos
    %ul
      %li= link_to "High-Res Logo (1024x1024)", "/press-kit/logos/dinesafe-logo-1024x1024.png", :target => "_blank"
      %li= link_to "Logo (512x512)", "/press-kit/logos/dinesafe-logo-512x512.png", :target => "_blank"
      %li= link_to "Logo (114x114)", "/press-kit/logos/dinesafe-logo-114x114.png", :target => "_blank"
      %li= link_to "Logo (57x57)", "/press-kit/logos/dinesafe-logo-57x57.png", :target => "_blank"
    %h3 Screenshots
    %p 5 screenshots, available with or without annotations.
    %ul
      - (1..5).each do |i|
        %li= link_to "Plain #{i}", "/press-kit/screenshots/not-annotated/dinesafe-app-0#{i}.png", :target => "_blank"
    %ul
      - (1..5).each do |i|
        %li= link_to "Annotated #{i}", "/press-kit/screenshots/annotated/dinesafe-app-annotated-0#{i}.png", :target => "_blank"
