- title "#{@establishment.name} (#{@establishment.address_full}) Restaurant Health Inspection Results on Dinesafe"
.header-container.no-slider
  %header.wrapper.clearfix
    .ctaColumn
      / LOGO Replace
      %h1 Dinesafe Toronto App
      / START HEADER TEXT
      %h3 Dinesafe Results for #{@establishment.name}
      %p= link_to "Subscribe to be notified when we launch!", "http://eepurl.com/vJgzb", :target => "_blank"
      .iphone-frame
        .iphone-screen
          .establishment-wrap
            .name= @establishment.name
            .scorebar
              - previous_year = nil
              - @establishment.inspections.last(13).each do |inspection|
                - year = inspection.date.year
                .inspection{:class => inspection.status.parameterize}
                  .box-top
                  .box-bottom
                  .right-line
                  - if year != previous_year
                    .year= year
                - previous_year = inspection.date.year
            .address= @establishment.address.titleize
            .type= @establishment.latest_type
          .google-map
            %img{:src => google_static_map_link(@establishment.latlng_dict, "240x140")}
          .inspections-summary
            %strong Inspections Summary
            %ul
              %li= "Pass: #{@establishment.inspections.pass.count}"
              %li= "Conditional Pass: #{@establishment.inspections.conditional.count}"
              %li= "Closed: #{@establishment.inspections.closed.count}"
              %li= "Total: #{@establishment.inspections.count} inspections"
      %p
        View restaurant health inspections on the go. Browse nearby establishments,
        or search for your faves. View inspection history up to 3 years.
      = render :partial => "shared/mailchimp_signup"
      / STORES
      /%ul.clearfix{:style => "opacity:0.2;"}
      /  (Not quite
      /  %li
      /    %a{:href => app_store_link}= image_tag "landing/appStore_Btn@2x.png", :alt => "Download App"
      /  , but soon!)


