.header-container
  %header.wrapper.clearfix
    .ctaColumn
      / LOGO Replace
      %h1 Dinesafe Toronto App
      / START HEADER TEXT
      %h3= @establishment.name
      .iphone-frame
        .iphone-screen
          .establishment-wrap
            .name= @establishment.name
            .scorebar
              - @establishment.inspections.each do |inspection|
                .inspection{:class => inspection.status.parameterize}
                  .box-top
                  .box-bottom
                  .right-line
            .address= @establishment.address.titleize
            .type= @establishment.latest_type
          .google-map
            %img{:src => google_static_map_link(@establishment.latlng_dict, "240x140")}
          .inspections-summary
            %strong Inspections Summary
            %ul
              %li= "Pass: #{@establishment.inspections.pass.count}"
              %li= "Conditional Pass: #{@establishment.inspections.conditional.count}"
              %li= "Closed: #{@establishment.inspections.closed.count}"
              %li= "Total: #{@establishment.inspections.count} inspections"
      %p
        View restaurant health inspections on the go. Browse nearby establishments,
        or search for your faves. View inspection history up to 3 years.
      / STORES
      %ul.clearfix{:style => "opacity:0.2;"}
        (Not quite
        %li
          %a{:href => "#ComingSoon"}= image_tag "landing/appStore_Btn@2x.png", :alt => "Download App"
        , but soon!)
    / START IPHONE SLIDER
    .fader
      .flexslider1
        %ul.slides
          / IPHONE SLIDES
          - (1..5).each do |i|
            %li= image_tag "landing/screens/0#{i}.png", :alt => "Dinesafe App Screen #{i}"

